<h2>About</h2>

<ul>
  <li>Senior creative professional with strong tech background</li>
  <li>Leader of distributed teams in video postproduction, design and development projects</li>
  <li>10+ years of experience with technology, education, finance and entertainment companies</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/kristincmartin">LinkedIn Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://grimalkin.com/work2015/">Video and mograph projects</a>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/kristincmartin">@kristincmartin</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/kcmartin">kcmartin</a>
  </li>

  </li>
</ul>
